@tailwind base;
@tailwind components;
@tailwind utilities;

/* brand tokens */
:root { --gold: #C6A664; }

/* smooth fonts */
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
html { scroll-behavior: smooth; }
